// you can change config here
$colors: #c0392b, #d35400, #f39c12, #27ae60, #16a085, #2980b9, #8e44ad, #2c3e50,
  #7f8c8d !default;

table{
  margin: auto !important;
}
th, td {
    border-color: var(--border-color-dark);
    border: 0px solid #dfe2e5;
}
.txt-red {
  color: red;
}
table{
  display: table;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.red{background-color: red;}
.green{background-color: green;}
.yellow{background-color: yellow;}
.bg-purple{
  background: #d3dce6;
}
.bg-purple-dark{
  background: #99a9bf;
}
.bg-purple-light{
  background: #e5e9f2;
}
.el-row{margin-bottom: 10px;}