@import "file:///D:/MyProjects/element-less/node_modules/vuepress-theme-hope/templates/palette/palette.scss";
@import "file:///D:/MyProjects/element-less/docs/.vuepress/styles/palette.scss";
@import "file:///D:/MyProjects/element-less/node_modules/vuepress-theme-hope/templates/palette/generator.scss";
